<head>  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body>
  <!-- navbar header -->
  <div class="nav-header">
    <div class="nav-brand">
      <img src="../assets/logo.png">
    </div>
    <i class="fa fa-bars fa-3x"></i>
    <div class="header-links">
      <ul>
        <li data-menuanchor="fifthPage"><a href="#contact">CONTACT</a></li>
        <!-- <li data-menuanchor="fourthPage"><a href="#contact">CONTACT</a></li> -->
        <li data-menuanchor="fourthPage"><a href="#portfolio">PROJECTS</a></li>
        <li data-menuanchor="thirdPage"><a href="#skill">SKILLS</a></li>
        <li data-menuanchor="secondPage"><a href="#about">ABOUT</a></li>
      </ul>
    </div>
  </div>
  <!-- end navbar header -->

  <!-- sidebar slider -->
  <div class="nav-screen">
    <i class="fa fa-times fa-3x"></i>
    <div class="nav-container">
      <div class="nav-links">
        <ul id='myMenu'>
          <li data-menuanchor="fifthPage"><a href="#contact">CONTACT</a></li>
          <!-- <li data-menuanchor="fourthPage"><a href="#contact">CONTACT</a></li> -->
          <li data-menuanchor="fourthPage"><a href="#portfolio">PROJECTS</a></li>
          <li data-menuanchor="thirdPage"><a href="#skill">SKILLS</a></li>
          <li data-menuanchor="secondPage"><a href="#about">ABOUT</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- end navbar slider -->

  <!-- begin fullpage -->

  <div id="fullpage">

    <!-- begin section -->

    <div class="section aboutme" data-anchor="aboutme">
      <div class="opaque-bg animated fadeInDown">
        <h1 style="color:white">RAMI<span style="color:#FF6363">/</span>JOUDI</h1>
        <p><span id="holder"></span><span class="blinking-cursor">|</span></p>
      </div>
      <i id="moveDown" class="fa fa-chevron-down fa-3x bounce"></i>
    </div>
    <!-- end section -->

    <!-- begin section -->

    <div class="section">
      <div class="content">
        <h1 class="wow fadeInDown" data-wow-delay="0.2s">ABOUT ME</h1>
        <img src="../assets/r.png" style=" width: 360px;
        margin-bottom: 20px;
        margin-top: 60‒;
        margin-top: 40px;">
        <p class="wow fadeInDown" data-wow-delay="0.2s">
          I'm a Full-Stack Developer and Software Engineering student in ESPRIT at Ariana, Tunisa.
							looking for a full-stack developer pfe internship in tunsia or abroad, my academic and professional training allowed me to acquire a lot of skills like developing the backend of a website
							with Spring boot and secure user accounts with Spring security,test the backend with JUNIT5 and Mockito, develop the frontend with angular or reactJs and deploy the backend, database and frontend with docker.
              <button class="btn btn-link"(click)="cv()">See resume</button ></p>
         
      </div>
    </div>
  <div class="section skill"  data-anchor="skills">
    <h1 class="wow fadeInDown" data-wow-delay="0.2s">SKILLS</h1>
    <div class=" wow fadeInUp container-skillbar" data-wow-delay="0.2s">
      <div class="skillbar clearfix " data-percent="85%">
        <div class="skillbar-title" style="width: 160px;"style="background: #EBB035;"><span>SpringBoot</span></div>
        <div class="skillbar-bar" style="background: #EBB035;"></div>
        <div class="skill-bar-percent">85%</div>
      </div> 
      <div class="skillbar clearfix " data-percent="80%">
        <div class="skillbar-title"  style="width: 160px;"style="background: #DD1E2F;"><span>Angular</span></div>
        <div class="skillbar-bar" style="background: #DD1E2F;"></div>
        <div class="skill-bar-percent">80%</div>
      </div> <!-- End Skill Bar -->

      <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="75%">
        <div class="skillbar-title"  style="width: 160px;" style="background: #218559;"><span>Testing(Junit5,Mockito)</span></div>
        <div class="skillbar-bar" style="background: #218559;"></div>
        <div class="skill-bar-percent">75%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="65%">
        <div class="skillbar-title"  style="width: 160px;" style="background: #6840D4;"><span>Docker</span></div>
        <div class="skillbar-bar" style="background: #6840D4;"></div>
        <div class="skill-bar-percent">65%</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="75%">
        <div class="skillbar-title"  style="width:160px;" style="background: #06A2CB;"><span>ExpressJs(NodeJs)</span></div>
        <div class="skillbar-bar" style="background: #06A2CB;"></div>
        <div class="skill-bar-percent">75%</div>
      </div> <!-- End Skill Bar -->
      <div class="skillbar clearfix " data-percent="75%">
        <div class="skillbar-title" style="background: #06A2CB;"><span>NodeJs</span></div>
        <div class="skillbar-bar" style="background: #06A2CB;"></div>
        <div class="skill-bar-percent">75%</div>
      </div>
      <div class="skillbar clearfix " data-percent="57%">
        <div class="skillbar-title"  style="width: 160px;" style="background: #AB4DD2;"><span>Selenium</span></div>
        <div class="skillbar-bar" style="background: #AB4DD2;"></div>
        <div class="skill-bar-percent">57%</div>
      </div> <!-- End Skill Bar -->
    </div> 
    <!-- end section -->
</div>
    <!-- begin section -->

    <div class="section" data-anchor="projects">
      <div class="content-slide">
        <div class="slide">
          <h1>My First PORTFOLIO</h1>
          <p>PERSONAL WEBSITE</p>
          <img data-src="../assets/P.png">
          <p>Development of a personal website that contains my personal and academic information, and an overview of my projects</p>
          Angular10/ FireHosting(FireBase) 
        </div>
        <div class="slide">
          <h1>Dari.tn</h1>
          <p>Real estate website</p>
          <img data-src="../assets/pdari.png">
          <p>Development of a real estate website that allows the sale and the purchase of real estate, with a chatbot and a virtual visit for customers.</p>
   Spring boot/Spring Security/JPA Hibernate/JWT/Angular 9/Docker
    <!-- <li></li>
    <li></li>
    <li></li>
    <li>Mysql</li>
    <li></li>
    <li></li> -->
        </div>
        <div class="slide">
          <h1>PiLand</h1>
          <p>Quiz App</p>
          <img data-src="../assets/pf.png">
          <p>Designing and development of a mobile application for assessing children's IQ in the form of a quiz and games with parental supervision.</p>
           Flutter /FireStore,Authentification Firebase ,Realtime Database,Cloud Storage (FireBase)
           
        </div>
        <div class="slide">
          <h1>Sky travel</h1>
          <p>Desktop application</p>
          <img data-src="../assets/pubuntu.png">
          <p>	Designing and development of an application desktop on Ubuntu, which allows you to reserve a flight, accommodation and estimate the budget of residence.</p>
          C/GTK+/Glade
        </div>
        <div class="slide">
          <h1>Blog</h1>
          <p>Blog website</p>
          <img data-src="../assets/prblog.png">
          <p>Designing and development of a personal blog inspired by a medium that allows the user to write posts and share them with friends.</p>
          MongoDB/Angular9/NodeJS/ExpressJS
        </div>
         
      </div>
    </div>
    <!-- end section -->

    <!-- begin section -->

    <div class="section" data-anchor="contact">
      <div class="content wow fadeInDown" data-wow-delay="0.2s">
        <h1>CONTACT ME</h1>
        <p>Whether you're interested in working with me or just want to say hello, I'd love to hear from you!</p>
        <br>
        <div  >
          <span style="
          margin-right: 20px;
      "><a href="https://www.linkedin.com/in/rami-joudi-b3862b1b8/" target="_blank"><i class="fa fa-linkedin fa-2x" ></i></a></span>
          <span style="
          margin-right: 20px;
      "><a target="_blank" href="mailto:rami.joudi1@esprit.tn" target="_blank"><i class="fa fa-at fa-2x"></i></a></span>
          <span style="
          margin-right: 20px;
      "><a href="https://github.com/ramiJoudi" target="_blank"><i class="fa fa-github fa-2x"></i></a></span>
         <span style="
         margin-right: 20px;
     ">   <a href="tel:+216-22-875-134" target="_blank"><i class="fa fa-phone fa-2x"></i></a></span>
        </div>
      </div>
    </div>
    <!-- end section -->

    <!-- begin section -->

    <div class="section fp-auto-height">
      <div class="footer">
         
        <div class="social-links">
    
          <div style="font-size: 19;color: white;">Written & Coded with <i class="fa fa-coffee"></i>  and <i class="fa fa-heart"></i> by Rami Joudi © 2021.</div>
        </div>
      </div>
    </div>
    <!-- end section -->

  </div>
  <!-- end fullpage -->
</body>